<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="loginForm">
    <mat-form-field>
      <input type="email" matInput placeholder="Email Address" ngModel name="email" email required formControlName="email" />
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">This field is required.</mat-error>
      <mat-error *ngIf="!loginForm.controls['email'].hasError('required')">Email invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" ngModel name="password" required formControlName="password" />
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">This field is required.</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
